/* MENU */
.fl-with-bottom-menu {
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
}

.no-supports-container .fl-with-bottom-menu {
  padding-bottom: 44px;
  padding-bottom: calc(44px + env(safe-area-inset-bottom));
}

.supports-container .fl-page-content-wrapper {
  padding-bottom: 44px;
}

.fl-with-bottom-menu.fl-bottom-menu-hidden {
  padding-top: 0;
}

[data-fl-widget-instance][data-type="menu"] {
  position: fixed !important;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.fl-viewport-header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 44px;
  height: calc(44px + constant(safe-area-inset-bottom));
  height: calc(44px + env(safe-area-inset-bottom));
  margin: 0 auto;
  line-height: 43px;
  background: rgba(255, 255, 255, 0.85);
  text-shadow: 0 1px 0 #fff;
  border-top: 1px solid rgba(127, 127, 127, 0.1);
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 1em;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.no-android .fl-viewport-header {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

[data-has-notch] .fl-viewport-header {
  height: 78px;
}

.fl-viewport-header .nav-center,
.fl-viewport-header .nav-left-arrow,
.fl-viewport-header .nav-right-arrow {
  width: 64px;
  height: 44px;
  cursor: pointer;
}

.fl-viewport-header .nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fl-viewport-header .nav-left-arrow,
.fl-viewport-header .nav-right-arrow {
  font-size: 2em;
  display: none;
  position: absolute;
  top: 0;
}

.fl-viewport-header .nav-center .fa,
.fl-viewport-header .nav-left-arrow .fa,
.fl-viewport-header .nav-right-arrow .fa {
  width: 64px;
  height: 44px;
  line-height: 44px;
}

.fl-viewport-header .nav-left-arrow {
  left: 15%;
}

.fl-viewport-header .nav-right-arrow {
  right: 15%;
}

.fl-sequential-screens-helper {
  display: none;
}

.fl-viewport-menu {
  width: 100%;
  height: 44px;
  height: calc(44px + constant(safe-area-inset-bottom));
  height: calc(44px + env(safe-area-inset-bottom));
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.fl-viewport-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(127, 127, 127, 0.1);
  padding: 4px 10px;
  border-radius: 14px;
  display: flex;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.no-android .fl-viewport-menu ul {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.fl-viewport-menu ul.init {
  opacity: 1;
  visibility: visible;
}

.fl-viewport-menu.to-hide ul {
  background-color: transparent;
  border: none;
}

.fl-viewport-menu ul li.linked {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 0 0 8px;
  background-color: rgba(51,51,51,0.2);
  cursor: pointer;
}

.fl-viewport-menu.to-hide ul li.linked {
  display: none;
}

.fl-viewport-menu ul li:nth-child(2) {
  margin: 0;
}

.fl-viewport-menu ul li.linked.active {
  background-color: #333;
}

.fl-viewport-menu ul li.fl-menu-arrow {
  position: absolute;
  top: 0;
  width: 30px;
  height: 30px;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  color: #333;
  cursor: pointer;
  pointer-events: none;
  opacity: 0.1;
}

.fl-viewport-menu ul li.fl-menu-arrow.show {
  pointer-events: all;
  opacity: 1;
}

.fl-viewport-menu ul .fl-menu-arrow .fa {
  display: block;
  height: 30px;
  line-height: 26px;
}

.fl-viewport-menu.to-hide ul .fl-menu-prev .fa {
  margin-left: -4px;
}

.fl-viewport-menu.to-hide ul .fl-menu-next .fa {
  margin-right: -4px;
}

@media screen and (min-width: 640px) {
  .fl-viewport-menu {
    max-width: 33.333%;
    padding-left: 10px;
    padding-right: 0;
    justify-content: flex-start;
  }
  .fl-viewport-menu ul {
    position: relative;
    height: 30px;
    border-radius: 30px;
    font: normal normal normal 14px/1 FontAwesome;
    padding: 0px 30px;
    align-items: center;
  }
  .fl-viewport-menu ul .fl-menu-prev {
    left: 0;
  }
  .fl-viewport-menu ul .fl-menu-next {
    right: 0;
  }
  .fl-viewport-menu.to-hide ul .fl-menu-prev,
  .fl-viewport-menu.to-hide ul .fl-menu-next {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid rgba(127, 127, 127, 0.1);
    border-radius: 30px;
  }
  .fl-viewport-menu.to-hide ul .fl-menu-next {
    right: -15px;
  }

  .fl-viewport-menu ul li:nth-child(2) {
    margin: 0;
  }

  .fl-viewport-header .nav-left-arrow {
    left: 30%;
  }

  .fl-viewport-header .nav-right-arrow {
    right: 30%;
  }
}

@media screen and (max-width: 639px) {
  .fl-viewport-menu ul li.fl-menu-arrow {
    display: none !important;
  }
}

/* Menu Overlay */
.fl-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 44px;
  bottom: calc(constant(safe-area-inset-bottom) + 44px);
  bottom: calc(env(safe-area-inset-bottom) + 44px);
  left: 0;
  z-index: 20;
  pointer-events: none;
  -webkit-transition: none;
  -webkit-transform: translate3d(0, -100%, 0);
}

.fl-menu.active {
  pointer-events: all;
  -webkit-transform: translate3d(0, 0, 0);
}

.fl-menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity 0.1s linear;
  pointer-events: none;
}

.fl-menu.active .fl-menu-overlay {
  pointer-events: all;
  opacity: 1;
}

.fl-menu-panel-swipe {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 15px;
  opacity: 0;
  pointer-events: none;
  border-radius: 0;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: box;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-transition: -webkit-transform 0.2s ease-out, opacity 0.2s linear;
  transition: -webkit-transform 0.2s ease-out, opacity 0.2s linear;
  -webkit-transform: translate3d(0, 16px, 0);
  transform: translate3d(0, 16px, 0);
}

.fl-menu-panel-swipe:after {
  content: '';
  width: 0;
  height: 0;
  border-color: transparent;
  border-top: 11px solid #fff;
  border-right: 11px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 11px solid transparent;
  display: block;
  position: absolute;
  bottom: -22px;
  right: 50%;
  margin-right: -11px;
}

.fl-menu-panel-wrapper {
  position: absolute;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 20px;
  max-height: 0%;
  overflow: auto;
  -webkit-transition: all 0s ease-out 0s;
  transition: all 0s ease-out 0s;
}

.fl-menu-default-left .fl-menu-panel-swipe:before {
  right: auto;
  left: 5px;
}

.fl-app-menu.hasGoBack .fl-menu-panel-swipe:before {
  left: 40px;
}

.fl-menu.active .fl-menu-panel-swipe {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  pointer-events: all;
}


.fl-menu.active .fl-menu-panel-swipe .fl-menu-panel-wrapper {
  max-height: 100%;
  -webkit-transition: all 0.5s ease-out 0.18s;
  transition: all 0.5s ease-out 0.18s;
}

.fl-menu .fl-menu-foot {
  order: 3;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.fl-app-menu-toolbar {
  text-align: right;
  line-height: 21px;
  background: #ffffff;
  font-size: 9px;
  font-family: Verdana;
}

.fl-app-menu-toolbar .copyright {
  padding: 0 15px;
}

.fl-app-menu-toolbar .copyright a {
  color: #333;
  text-decoration: underline;
  display: inline-block;
  height: 100%;
}

.fl-menu .fl-menu-body-swipe {
  position: relative;
  background: #fff;
}

.fl-app-menu .fl-list-default {
  color: #333;
  max-height: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.fl-menu-body-swipe .fl-list-default ul {
  padding: 0;
  margin: 0;
  background: none;
  font-size: 16px;
}

.fl-menu-body-swipe .fl-list-default ul > li {
  padding: 10px 10px 10px 10px;
  list-style: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  position: relative;
}

.fl-menu-body-swipe .fl-list-default ul > li:last-child {
  border-bottom: none;
}

.fl-menu-body-swipe .fl-list-default ul > li.linked {
  padding-right: 44px;
  cursor: pointer;
}

.fl-menu-body-swipe .fl-list-default ul > li .linked-icon {
  display: none;
  position: absolute;
  width: 44px;
  height: 44px;
  top: 50%;
  right: 0;
  margin-top: -22px;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  color: #333;
}

.fl-menu-body-swipe .fl-list-default ul > li.linked .linked-icon {
  display: block;
}

.fl-menu-body-swipe .fl-list-default ul > li.with-icon,
.fl-menu-body-swipe .fl-list-default ul >.with-icons li {
  padding-left: 54px;
  display: flex;
  align-items: center;
}

.fl-menu-body-swipe .fl-list-default ul > li .fl-menu-icon {
  position: absolute;
  left: 10px;
  top: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
}

.fl-app-menu .fl-list-default ul > li .buttonControl {
  display: block;
  line-height: 24px;
}

.fl-app-menu-logo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 62.5%;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
  text-align: center;
}

.fl-app-menu-logo:empty {
  display: none;
}
@media screen and (min-width: 640px) {
  .fl-menu {
    display: flex;
    justify-content: center;
  }

  .fl-menu-panel-swipe {
    bottom: 50px;
    top: 20%;
    width: 380px;
    right: auto;
    left: auto;
  }
}

.hamburger {
  padding: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  display: flex;
}

.hamburger-box {
  height: 22px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #333333;
}